/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: #491d8b;
    --first-color-light: hsl(224, 100%, 50%);
    --black-color: hsl(0, 0%, 95%);
    --text-color: hsl(29, 8%, 65%);
    --body-color: hsl(0, 0%, 100%);
    --grid_color: rgba(211, 211, 211, 0.7) .1em, transparent .1em;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    /* --body-font: "Poppins", sans-serif; */
    --body-font: 'IBM Plex Sans', sans-serif;
    --h3-font-size: 1.125rem;
    --smaller-font-size: 0.75rem;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--body-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== CARD ===============*/
.container {
    /* height: 100vh; */
    /* margin-inline: 1.5rem; */
    width: 100%;
    display: flex;
    padding: 0 4vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.card {
    position: relative;
    width: 256px;
    height: 256px;
    margin: 30px;
    background-color: var(--black-color);
    padding: 1.25rem 2rem 3rem;
    border-radius: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 16px hsla(29, 75%, 8%, 0.2);
}

.card__img {
    width: 96px;
    border-radius: 50%;
}

.card__border {
    width: 110px;
    height: 110px;
    border: 2px solid var(--first-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 auto 0.75rem;
}

.card__name {
    color: var(--first-color-light);
    font-size: var(--h3-font-size);
    font-weight: 500;
}

.card__profession {
    color: var(--text-color);
    font-size: var(--smaller-font-size);
    font-weight: 500;
}

.card__social {
    width: 200px;
    background-color: var(--first-color);
    padding: 0.75rem;
    border-radius: 3rem;
    text-align: initial;
    box-shadow: 0 8px 24px hsla(29, 75%, 56%, 0.3);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1.75rem;
    margin: 0 auto;
    overflow: hidden;
    transform-origin: 18px 17px;
}

.card__social-control {
    position: relative;
    transform-origin: 18px 18px;
    transition: transform 0.45s ease;
    transform: rotate(0);
    text-align: center;
    color: white;
}

.card__social-toggle {
    display: inline-flex;
    background-color: var(--black-color);
    color: var(--first-color);
    font-size: 1.25rem;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.card__social-text {
    display: block;
    color: var(--black-color);
    font-size: var(--smaller-font-size);
    font-weight: 500;
}

.card__social-list {
    display: inline-flex;
    column-gap: 0.75rem;
    transform: rotate(135deg);
    transform-origin: 18px 17px;
}

.card__social-link {
    display: inline-flex;
    background-color: var(--first-color-light);
    color: var(--black-color);
    font-size: 1.25rem;
    padding: 6px;
    border-radius: 50%;
}

.card__social-text,
.card__social-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 3.1rem;
}

.card__social-text {
    top: 0.5rem;
}

/* Rotate social */
.animation .card__social-control {
    transform: rotate(-135deg);
}

/* Up animation */
.card__social.animation {
    animation: up-animation 1s ease-in-out forwards;
}

@keyframes up-animation {

    0%,
    100% {
        transform: rotate(0);
    }

    50%,
    60% {
        transform: rotate(-3deg);
    }

    88% {
        transform: rotate(1deg);
    }
}

/* Down animation */
.card__social.down-animation {
    animation: down-animation 1s ease-in-out forwards;
}

@keyframes down-animation {

    0%,
    100% {
        transform: rotate(0);
    }

    50%,
    60% {
        transform: rotate(6deg);
    }

    0%,
    88% {
        transform: rotate(-1deg);
    }
}


/* grid background */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(var(--grid_color)), linear-gradient(90deg, var(--grid_color));
    background-size: 3em 3em;
    background-attachment: fixed;

}


/* navbar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    min-height: 12vh;
    min-width: 100%;
    z-index: 10;
    background: #0f1423;
    border-bottom: 2px solid #0c2d48;
}

header .navigation .logo {
    margin-left: 20px;
}

header .navigation .logo h1 {
    color: #b1d4e0;
    font-size: 30px;
    line-height: 38px;
}

header .navigation .menu-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: auto 20px auto 0;
}

header .navigation .humbarger {
    margin-right: 20px;
    display: none;
}

header .navigation .humbarger .bar {
    width: 30px;
    height: 2px;
    margin: 7px;
    background: #b1d4e0;
}

header .navigation .menu-list li a {
    color: #b1d4e0;
    font-size: 1.25rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 1s ease, border 1s ease;
    text-decoration: none;
}

/* ====================
    Intro Section
  =======================*/
.intro-section {
    height: 100vh;
    position: relative;
    /* background: rgba(15, 20, 35, 0.9); */
    text-align: center;
}

.intro-section .intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 10px;
}

.intro-section .intro-content h1 {
    /* color: #b1d4e0; */
    font-size: 5rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-top: 80px;
}

.intro-section .intro-content h6 {
    margin-top: 5px;
    /* color: #b1d4e0; */
    font-size: 2.5rem;
    font-weight: 300;
}

.intro-section .intro-content p {
    margin-top: 40px;
    /* color: #b1d4e0; */
}

.intro-content .tagline {
    margin-top: 80px;
}

.intro-section .intro-content .tagline .change-container {
    position: relative;
    display: inline-block;
    width: 560px;
    max-width: 100vw;
    margin-bottom: 55px;
    margin-top: 30px;
}

.intro-section .intro-content .changing {
    position: absolute;
    overflow: hidden;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 0;
    opacity: 0;
    /* color: #b1d4e0; */
    text-transform: uppercase;
    word-spacing: 5px;
    text-align: center;
    font-size: 2.5rem;
}

.changing:nth-child(1) {
    animation: revealNextWord 7.5s cubic-bezier(0.57, 1.52, 0.9, 1.08) 1.5s infinite;
}

.changing:nth-child(2) {
    animation: revealNextWord 7.5s cubic-bezier(0.57, 1.52, 0.9, 1.08) 3s infinite;
}

.changing:nth-child(3) {
    animation: revealNextWord 7.5s cubic-bezier(0.57, 1.52, 0.9, 1.08) 4.5s infinite;
}
.changing:nth-child(4) {
    animation: revealNextWord 7.5s cubic-bezier(0.57, 1.52, 0.9, 1.08) 6s infinite;
}
.changing:nth-child(5) {
    animation: revealNextWord 7.5s cubic-bezier(0.57, 1.52, 0.9, 1.08) 7.5s infinite;
}

@keyframes revealNextWord {
    0% {
        opacity: 0.3;
        height: 0.0;
    }

    10% {
        opacity: 1;
        height: 1.2em;
    }

    20% {
        opacity: 1;
        height: 1.2em;
    }

    28% {
        opacity: 0;
        height: 2em;
    }

}

.intro-section .intro-content .header-btn a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #002036;
    background-color: #b1d4e0;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

.intro-section .intro-content .header-btn a:before {
    position: absolute;
    content: "";
    top: 0px;
    height: 100%;
    left: -25%;
    width: 0%;
    background-color: #002036;
    transform: skew(50deg);
    transition-duration: 1s;
    z-index: 1;
}

.intro-section .intro-content .header-btn a:hover {
    color: #b1d4e0;
}

.intro-section .intro-content .header-btn a:hover:before {
    width: 170%;

}

.intro-section .intro-content .header-btn a span {
    position: relative;
    z-index: 9;
}

/* ====================
    Responsive Section
  =======================*/

/* Tablet desktop :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    header .navigation .menu-list {
        width: 60%;
    }

    header .navigation .menu-list li a {
        font-size: 1rem;
    }

}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {

    header .navigation .menu-list {
        position: absolute;
        top: 12vh;
        min-width: 100%;
        background: rgba(15, 20, 35, 0.99);
        text-align: center;
        display: none;
    }

    header .navigation .menu-list li {
        display: block;
    }

    header .navigation .menu-list li a {
        display: block;
        padding: 20px;
        transition: color 1s ease, padding 1s ease, background-color 1s ease;

    }

    header .navigation .menu-list li a:hover {
        color: #b1d4e0;
        padding-left: 30px;
        background: rgba(177, 212, 224, 0.2);
    }


    header .navigation .humbarger {
        display: block;
    }

    .intro-section .intro-content h1 {
        font-size: 2.8rem;
    }

    .intro-section .intro-content h6 {
        font-size: 1.4rem;
    }

    .intro-section .intro-content .changing {
        font-size: 1.5rem;
    }

    .intro-section .intro-content .header-btn a {
        font-size: 1.25rem;
    }

}


/* small mobile :320px. */

@media only screen and (max-width: 479px) {

    .intro-inner .intro-content h1 {
        font-size: 2rem;
        letter-spacing: 1px;
    }

    .intro-inner .intro-content p {
        margin-top: 10px;
    }

}