/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

* {
    /* margin: 0;
    border: 0; */
    font-family: 'IBM Plex Sans', sans-serif;
    z-index: 0;
    /* text-shadow: 0 0 6px black; */
}

/* Track */
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px;
  border-radius: 0px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
  border-radius: 4px ;
}


/* Hide both horizontal and vertical scrollbars */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Optional: If you want to hide the thumb as well */
::-webkit-scrollbar-thumb {
  background: transparent;
}



#backgroundCanvas {
  position: fixed;
  /* bottom: 50vh; */
  left: 0;
  z-index: -100; /* Place the canvas behind other content */
  /* Set the canvas size to cover the entire viewport */
  /* width: 100%;
  height: 100%; */
  background: inherit;

}

.energy-flow{
  background: inherit;
  height: 100vh;
  display: flex;
  /* align-items: end;
  justify-content: flex-end; */
  opacity: 0.7;
}

svg#energy-flow #hexagons{
  scale: 1.1;
  /* top: 50vh; */
  /* position: absolute; */
}

svg#energy-flow #line{
  scale: 1.1;
  /* top: 50vh;
  position: fixed; */
}